<!DOCTYPE html>
<html>

<head>


    {% block stylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/combat.css') }}"/>


    {% endblock %}



</head>

<body>

<div id ="myContainer">

    <div id="animAl">
        <div class="bar-hero bar-con">
            <div class="bar" data-health="50"></div>
        </div>
        <img src="../img/tkn.png" alt="Allies">

    </div>

    <div id="info">
        <div id="msg"></div>
    </div>
    <div id="monster">
        <div id ="animEn1">

            <img src="../img/personnage.png" alt="Monster">
            <div class="bar-one bar-con">
                <div class="bar" data-health="9"></div>
            </div>
        </div>
        <div id ="animEn2">

            <img src="../img/monstre.png" alt="Monster">
            <div class="bar-two bar-con">
                <div class="bar" data-health="55"></div>
            </div>
        </div>
        <div id ="animEn3">

            <img src="../img/personnage.png" alt="Monster">
            <div class="bar-three bar-con">
                <div class="bar" data-health="27"></div>
            </div>
        </div>
    </div>
</div>


<script src="../js/jQuery.js"></script>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('../js/combat.js') }}" ></script>

{% endblock %}


</body>
</html>
