{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inventaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Equiped</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventaire in inventaires %}
            <tr>
                <td><a href="{{ path('inventaire_show', { 'id': inventaire.id }) }}">{{ inventaire.id }}</a></td>
                <td>{% if inventaire.equiped %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inventaire_show', { 'id': inventaire.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
