{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid divmt">

    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h1>Hero creation</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% set user= app.user.username %}
            <input class="btn btn-outline-danger" type="submit" value="Create" />
            {{ form_end(form) }}
        </div>

        <div class="col-lg-4">

            <a class="btn btn-outline-primary" href="{{ path('hero_index') }}">Back to the list</a>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}